.list-group-item {
    height: 100%;
    button {
        &.chat-option {
            margin: 2px 0;
            border-radius: 10px;
        }
    }
    .message {
		display: inline;
        font-size: 1em;
        font-style: italic;
        font-weight: 400;
        &.option {
			display: block;
            text-align: right;
        }
    }
    .timeform {
		// float: left;
        width: 100%;
		text-align: right;
        i {
			margin-left: 20px;
			margin-right: 5px;
        }
        .timestamp {
            font-size: 0.6em;
        }
    }
    .avatar {
		display: inline;
        width: 3em;
        margin-right: 20px;
    }
}
